/* レイアウト */
.align-center {
    text-align: center;
}
/*
.cover {
    background-size: cover;
    background-position: center bottom;
    height: 800px;
}

.cover-home {
    background-image: url();
}
*/
/* ヘッダー */
.page-header {
    padding-top: .5rem;
}
.logo {
    width: 210px;
}